<%- include("header.ejs") %>

    <div class="container">
        <form id="userForm" action="/read" method="post">
            <h1 class="text-bg-primary p-3">Search Employee</h1>
            <div class="mb-3">
                <label for="occupation" class="form-label">Employee Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter Employee Email Id" name="email" required>
              </div>
              <button type="submit" class="mb-3 btn btn-primary">Find Employee</button>
        </form>
    </div>

    <script>
        document.getElementById('userForm').addEventListener('submit', function(event) {
            event.preventDefault();
         const userId = document.getElementById('userid').value;
            this.action = `/user/${userId}`;
            this.submit();
    });
    </script>
</body>

</html>
